mixin foreach(statement)
    | <?php foreach (!{statement}): ?>
    block
    | <?php endforeach; ?>

mixin for(statement)
    | <?php for (!{statement}): ?>
    block
    | <?php endfor; ?>

mixin if(statement)
    | <?php if (!{statement}): ?>
    block
    | <?php endif; ?>

mixin else(statement)
    | <?php else: ?>
    block

mixin elseif(statement)
    | <?php elseif (!{statement}): ?>
    block

mixin php()
    | <?php
    block
    | ?>