- var menu_items = []
-
    menu_items.push(
        {
            title: 'Reenviar Trama Adecsys',
            link: echo("url('/adecsys/ondemand')"),
            class: echo("App\\Library\\SidebarMenu::setActive('adecsys_ondemand')")
        },
        {
            title: 'Reenviar Fotos',
            link: echo("url('/adecsys/vignette')"),
            class: echo("App\\Library\\SidebarMenu::setActive('adecsys_vignette')")
        }
    )

ul.nav.nav-sidebar
    each item in menu_items
        li(class!=item.class)
            a(href!=item.link) !{item.title}