extends /_layouts/all.pug

block content
    h1 Reenviar Trama Adecsys
    hr

    - var form = {}
    - form.method = "post"
    - form.url = echo("url('/adecsys/ondemand-process')")

    form(action!=form.url, method!=form.method)
        .form-group
            label(for="IdAdecsysClasificadoRop") Ingrese los IdAdecsysClasificadoRop:
            textarea.form-control#IdAdecsysClasificadoRop(name="IdAdecsysClasificadoRop", cols="50", rows="10")

        .form-group
            input.btn.btn-primary.form-control(type="submit", value="Enviar")

        | !{echo("csrf_field()")}