extends /_layouts/all.pug

block content
    h1 Reenviar Fotos
    hr

    table.table.table-hover
        thead
            tr
                th Cod_Aviso
                th Image

        tbody
            +foreach("$rows as $image")
                - var image = {}
                - image.url = echo("url('vignettes/' . $image)")
                - image.cod_aviso = echo("preg_replace('/(.jpg)/', '$2', str_replace('0001037908', '', $image))")

                tr
                    td(scope="row") !{image.cod_aviso}
                    td
                        img(src!=image.url, style="width:300px")

    .row
        .container-fluid
            - var url = echo("url('/adecsys/vignette')")
            a.btn.btn-info(href!=url) Volver atrás...