extends /_layouts/all.pug

block content
    h1 Reenviar Fotos
    hr

    table.table.table-hover
        thead
            tr
                th Cod_Aviso
                th Estado

        tbody
            +foreach("$rows as $row")
                - var row = {};
                - row.cod_aviso = echo("$row['codAviso']")

                tr
                    td(scope="row") !{row.cod_aviso}

                    +if("substr_count($row['response'], 'Archivo subido') === 2")
                        td Correcto

                        +else
                            td Fallido

    .row
        .container-fluid
            - var url = echo("url('/adecsys/vignette')")
            a.btn.btn-info(href!=url) Volver atrás...