extends /_layouts/all.pug

block content
    h1 Reenviar Fotos
    hr

    - var form = {}
    - form.method = "post"
    - form.url = echo("url('/adecsys/vignette-process')")

    form(action!=form.url, method!=form.method)
        .form-group
            label(for="Cod_Aviso") Ingrese los Cod_Aviso:
            textarea.form-control#Cod_Aviso(name="Cod_Aviso", cols="50", rows="10")

        .form-group
            label(for="downloadOnly") Descargar solamente
            input#downloadOnly(name="downloadOnly", type="checkbox", value="1")

        .form-group
            input.btn.btn-primary.form-control(type="submit", value="Enviar")

        | !{echo("csrf_field()")}