//@require '_helpers/*'

body
  padding-top 50px

.sub-header
  padding-bottom 10px
  border-bottom 1px solid #eee

.navbar-fixed-top
  border 0

.sidebar
  display none

@media (min-width: 768px)
  .sidebar
    position fixed
    top 51px
    bottom 0
    left 0
    z-index 1000
    display block
    padding 20px
    overflow-x hidden
    overflow-y auto
    background-color #f5f5f5
    border-right 1px solid #eee

.nav-sidebar
  margin-right -21px
  margin-bottom 20px
  margin-left -20px
  & > li
    & > a
      padding-right 20px
      padding-left 20px

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus
  color #fff
  background-color #428bca

.main
  padding 20px
  .page-header
    margin-top 0

@media (min-width: 768px)
  .main
    padding-right 40px
    padding-left 40px

.placeholders
  margin-bottom 30px
  text-align center
  h4
    margin-bottom 0

.placeholder
  margin-bottom 20px
  img
    display inline-block
    border-radius 50%