include /_mixins/default.pug
include /_config/all.pug

doctype html
html(lang=page.language)
    head
        meta(charset=page.charset)
        meta(name='language', content=page.language)
        meta(name='title', content=page.title)
        title !{page.title}

        link(href!=page.url.static + '/bootstrap/css/bootstrap.min.css', media='all', rel='stylesheet', type='text/css')
        link(href!=page.url.static + '/css/default.css', media='all', rel='stylesheet', type='text/css')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a.navbar-brand(href!=page.url.base) !{page.title}

                .navbar-collapse.collapse


        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    include /_render/sidebar-menu.pug

                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    block content